.header {
  background-color: var(--white-color);
  font-weight: 500;
  letter-spacing: .02em;
  border-bottom: 1px solid var(--line-color);
  min-height: 80px;
  display: flex;
  align-items: center;
  height: 80px;
}

.header ul {
  list-style-type: none;
}


  


