.team__banner {
    padding-top: 100px;
    margin: 0 auto 50px;
    max-width: 211px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
  
  .team__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team__gallery-item {
    &:not(:first-child) {
    margin-left: 30px;
    margin-bottom: 70px;
    }
  }
  .team__gallery-item-item {
    margin: 0;
    padding-bottom: 30px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 90px) / 4);
  }
  
  .team__description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
  
  .team__description-name {
    font-weight: 700;
    margin-top: 30px;
  }
  
  .team__description-job {
    color: var(--contact-color);
    margin-top: 10px;
  }
  
  .team__graphics {
    width: 20px;
    height: 20px;
    justify-content: center;
  }