.active {
  position: relative;
  top: 0;
  left: 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 4px solid var(--blue-color);
    border-radius: 2px;
    width: 100%;
    bottom: -33px;
    left: 0; 
  }
}
  

  
