.container {
    width: 1200px;
    align-items: center;
    margin: 0 auto;
  }
  
  .container--header {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
  }
  
  .container--hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container--clients {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
  }
  
  .footer__info {
    min-width: 280px;
    padding-top: 60px;
    margin-left: 110px;
  }
  
  .container--checkbox {
    display: flex;
    margin-top: 0;
  }
  
  .container--checkbox a {
    color: var(--blue-color)
  }
  
  .container--gallery {
    width: 1200px;
    align-items: center;
    margin: 0 auto;
  }
  
  .container--footer {
    width: 100%;
    font-weight: 700;

    line-height: 30.52px;
    letter-spacing: 0.03em;
    color: #fff;
    display: flex;
    padding-top: 0px;
    margin-left: 60px;
    align-items: start;
    flex-basis: calc((100% - 90px) / 2);
  }
  
  .container-footer-form {
    width: 900px;
    font-weight: 700;
    font-size: 14px;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    color: #fff;
    display: flex;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 70px;
  }
  
  .footer__forms {
    margin-top: 146px;  
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-left: 40px;
    font-size: 14px;
    }
  
    .footer__join {
      font-weight: 700;
      font-size: 26px;
      line-height: 30.52px;
      letter-spacing: 0.03em;
      color: #fff;
      display: flex;
      padding-top: 60px;
      align-items: start;
      flex-wrap: wrap;
      margin-left: 20px;
    }