.section {
    padding-bottom: 20px;
    background-color: var(--white-color);
  }
  
  .section__hero {
    padding-top: 0px;
  }
  
  .section__about-us {
    background-color: var(--white-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
  }
  
  .section__team {
    margin-top: 70px;
    background-color: var(--grey-color);
    font-weight: 700;
  }
  
  .section__services {
    background-color: var(--white-color);
    padding: 0px;
    height: 20%;
    margin-bottom: 30px;
  }
  
  .section__gallery {
    background-color: var(--white-color);
    padding-top: 20px;
    display: flex;
  }