:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --blue-color: #2196f3;
    --black-color: #212121;
    --grey-color: #f5f4fa;
    --dark-grey-color: #afb1b8;
    --footer-color: #2f303a;
    --white-color: #ffffff;
    --dark-white-color: #e5e5e5;
    --contact-color: #757575;
    --border-color: #eeeeee;
    --line-color: #ececec;
  }